<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Checkout example · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/checkout/">

    

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
  </head>
  <body class="bg-light">

  <%= render "shared/header" %>
    
<div class="container">
  <main>
    <div class="py-5 text-center">
      <h2>購入 form</h2>
    </div>

    
      <div class="mx-auto" style="width: 600px;">
        <h4 class="mb-3">お客様情報</h4>
        <form class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-12">
              <label for="firstName" class="form-label">名前</label>
              <input type="text" class="form-control" id="Name" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid name is required.
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email</span></label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="col-12">
              <label for="date" class="form-label">公演日時</label>
              <select class="form-select" aria-label="Default select example">
              <option selected>公演日時を選択してください</option>
              <option value="1">1枚</option>
              <option value="2">2枚</option>
              <option value="3">3枚</option>
              <option value="4">4枚</option>
              <option value="5">5枚</option>
              <option value="6">6枚</option>
              <option value="7">7枚</option>
              <option value="8">8枚</option>
              <option value="9">9枚</option>
              <option value="10">１０枚</option>
              </select>
              <div class="invalid-feedback">
                公演日時を選択してください
              </div>
            </div>

            <div class="col-12">
              <label for="sheets" class="form-label">枚数</label>
              <select class="form-select" aria-label="Default select example">
              <option selected>購入枚数を選択してください</option>
              <option value="1">1枚</option>
              <option value="2">2枚</option>
              <option value="3">3枚</option>
              <option value="4">4枚</option>
              <option value="5">5枚</option>
              <option value="6">6枚</option>
              <option value="7">7枚</option>
              <option value="8">8枚</option>
              <option value="9">9枚</option>
              <option value="10">１０枚</option>
              </select>
              <div class="invalid-feedback">
                購入枚数を選択してください
              </div>
            </div>

            <div class='price'>
              <h4 class='text'>支払金額3000円</h4>
            </div>

          <h4 class="mb-3">支払い方法</h4>

          <div class="my-3">
            <div class="form-check">
              <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
              <label class="form-check-label" for="credit">クレジットカード</label>
            </div>
          </div>

          <div class="row gy-3">
            <div class="col-md-6">
              <label for="cc-name" class="form-label">お名前</label>
              <input type="text" class="form-control" id="cc-name" placeholder="" required>
              <small class="text-muted">Full name as displayed on card</small>
              <div class="invalid-feedback">
                Name on card is required
              </div>
            </div>

            <div class="col-md-6">
              <label for="cc-number" class="form-label">カード番号</label>
              <input type="text" class="form-control" id="cc-number" placeholder="" required>
              <div class="invalid-feedback">
                Credit card number is required
              </div>
            </div>

            <div class="col-md-3">
              <label for="cc-expiration" class="form-label">Expiration</label>
              <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
              <div class="invalid-feedback">
                Expiration date required
              </div>
            </div>

            <div class="col-md-3">
              <label for="cc-cvv" class="form-label">CVV</label>
              <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
              <div class="invalid-feedback">
                Security code required
              </div>
            </div>
          </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
        </form>
      </div>
    </div>
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017–2021 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

      <script src="form-validation.js"></script>
  </body>
</html>
